---
name: Update Copyright

on:
  schedule:
    - cron: 0 3 1 1 *

jobs:
  update-licence-year:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout source
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: ./actions/licence
        with:
          licence-token: ${{ secrets.LICENCE_PAT }}
          licence-file: ./LICENCE.txt
