---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout source
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: ./actions/linting
        with:
          pre-commit-config: ./.pre-commit-config.yaml

      - uses: ./actions/vale
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
